@model IEnumerable<EvaFinal.Models.Alumnos>
@{
    ViewData["Title"] = "Index";
}
<h2>Lista de Alumnos</h2>

<p>
    <a class="btn btn-primary" data-toggle="modal" data-target="#Ingreso_Alumnos">Nuevo Alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Curso Paralelo
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody id="Cuerpo_Alumno"></tbody>
</table>

<div class="modal fade" id="Ingreso_Alumnos" tabindex="-1" role="dialog" aria-labelledby="EtiquetaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="EtiquetaModal">
                    Ingreso de Alumnos
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="NumMatricula" id="NumMatricula" />
                    <div class="form-group">
                        <label class="control-label">Nombres</label>
                        <input id="Nombres" name="Nombres" class="form-control"
                               type="text" placeholder="Ingrese la Nombres del alumno" />
                        <span  class="label-danger hidden">Campo Obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Apellidos</label>
                        <input id="Apellidos" name="Apellidos" class="form-control"
                               type="text" placeholder="Ingrese el Apellidos del alumno" />
                        <span id="control_Nombre" class="label-danger hidden">Campo Obligatorio</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Curso Paralelo</label>
                        <input id="CursoParalelo" name="CursoParalelo" class="form-control"
                               type="text" placeholder="Ingrese el Telefono del Paralelo del alumno" />
                        <span id="control_Apellido" class="label-danger hidden">Campo Obligatorio</span>
                    </div>

                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
                <button id="graba" type="button" class="btn btn-primary" onclick="nuevo_Alumno()">Guardar</button>
            </div>
        </div>
    </div>
</div>